html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    /*color-scheme: dark;*/
  }
  body {
    color: white;
    background: black;
    
  }
  .tab.active.TabsActive{
      color:white
  }
  .tab.active.TabsActive::after{
      background-color:white
  }
}
th, td {
    border-style: solid;
}
/*.tab.active.TabsActive {
    background-color: lawngreen;
}
.tab.active:hover {
    background-color: red;
}
.tab.active.highlight{
    background-color:purple
}*/
/*tr:hover {
    background-color: #D6EEEE;
}*/

/*td:hover {
    background-color: lawngreen;
}*/